/* GENERAL STYLING */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'National Park', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(112 140 105);
}

#game-container {
    height: 80vh;
    width: 85vw;
    padding: 1.5em;
    position: relative;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 0 24px 5px rgba(0,0,0,0.2);
}

#game-container div {
    overflow: hidden;
    position: absolute;
    height: 85%;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em;
}

.btn {
    padding: 8px 15px;
    margin: 10px 0;
    border-radius: 6px;
    cursor: pointer;
}

.start-button,
.instructions-button,
.next-button,
.return-to-menu-button,
.exit-quiz-button {
    font-size: 1.05rem;
    font-weight: 600;
    text-transform: uppercase;
}

.instructions-button,
.next-button,
.return-to-menu-button {
    background-color: rgb(1 61 90);
    border: 2px solid rgb(1 61 90);
    color: whitesmoke;
}

.instructions-button:hover,
.next-button:hover,
.return-to-menu-button:hover {
    background-color: rgb(189 211 206);
    color: rgb(1 61 90);
}


.hidden {
    /* display: none; */
}

/* START SCREEN */

h1 {
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 30px;
}

.start-button,
.exit-quiz-button {
    background-color: rgb(244 162 88);
    border: 2px solid rgb(244 162 88);
}

.start-button:hover,
.exit-quiz-button:hover {
    background-color: rgb(252 243 227);
    color: rgb(1 61 90);
}

/* INSTRUCTIONS*/

#instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#instructions {
    margin: 10px 0 15px 0;
}

#instructions h3 {
    margin: 5px 0;
    font-size: 0.95rem;
}

#instructions p {
    margin-bottom: 10px;
    font-size: 0.85rem;
}

.instructions-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* GAME SCREEN */

#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-screen-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid #c0bfd2;
    margin-bottom: 20px;
}

.question-counter {
    padding: 5px;
    margin: 5px;

}

#answers-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 12px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.answer-button {
    font-size: 1.15em;
    background-color: whitesmoke;
    border: 2.5px solid rgb(1 61 90);
}

.answer-button:hover {
}

/* RESULTS DASHBOARD*/


/* MEDIA QUERIES */